<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirish Sahifasi</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../images/base/HEAD.svg" type="image/x-icon">
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        label {
            display: block;
            text-align: start;
        }
    </style>
</head>
<body>

<div class="container d-flex justify-content-center align-items-center">
    <div class="text-center">
        <!-- Logo -->
        <img src="../images/base/HEAD.svg" alt="Logo" class="login-logo position-absolute" style="margin-top: -50px; margin-left: -35px">
        <!-- Login Card -->
        <div class="reset-card">
            <h2 class="mb-3">Parolni tiklash</h2>
            <p class="text-muted mb-4">Email pochtangizni kiriting.</p>
            <form>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="pat@shuffle.dev" required minlength="6">
                </div>
                <button type="submit" class="btn btn-primary w-100">Kirish</button>
            </form>
            <p class="signup-link mt-4">Hali shaxsiy profil yo‘qmi? <a href="#">Ro‘yxatdan o‘ting</a></p>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
