{% extends 'base.html' %}
{% load static %}
{% block content %}
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">Dashboard</h4>
						<div class="row">
							<div class="col-md-3">
								<div class="card card-stats card-warning">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-users"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">O'quvchilar</p>
													<h4 class="card-title">1,294</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-success">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-group"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Guruh</p>
													<h4 class="card-title">12</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-primary">
									<div class="card-body">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-check-circle"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">To'lov qilgan</p>
													<h4 class="card-title">900</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="card card-stats card-danger">
									<div class="card-body ">
										<div class="row">
											<div class="col-5">
												<div class="icon-big text-center">
													<i class="la la-newspaper-o"></i>
												</div>
											</div>
											<div class="col-7 d-flex align-items-center">
												<div class="numbers">
													<p class="card-category">Qarzdor</p>
													<h4 class="card-title">576</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>


						<div class="row">
							
							<div class="col-sm-12 col-md-6 col-lg-6">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Guruhlar</div>
									</div>
									<div class="card-body">

										<div class="table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>#</th>
														<th>Nomi</th>
														<th>Natija</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">1</th>
														<td>Full Stack</td>
														<td>
															<div class="progress">
																<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Full Stack</td>
														<td>
															<div class="progress">
																<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Full Stack</td>
														<td>
															<div class="progress">
																<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Full Stack</td>
														<td>
															<div class="progress">
																<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Full Stack</td>
														<td>
															<div class="progress">
																<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Full Stack</td>
														<td>
															<div class="progress">
																<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Full Stack</td>
														<td>
															<div class="progress">
																<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-12 col-md-6 col-lg-6">
								<div class="card">
									<div class="card-header">
										<div class="card-title">Qarzdorlar</div>
									</div>
									<div class="card-body">

										<div class="table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>#</th>
														<th>Ismi</th>
														<th>Guruh</th>
														<th>nomer</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
													<tr>
														<th scope="row">1</th>
														<td>Biloliddin</td>
														<td>Full Stack</td>
														<td>+998901234567</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>





				<footer class="footer">
					<div class="container-fluid">

						<div class="copyright ml-auto text-bold">
						GEEKS	2025
						</div>				
					</div>
				</footer>
			</div>
{% endblock %}
	